@font-face {
            font-family: "Funnel Display";
            src: url(../fontes/FunnelDisplay/FunnelDisplay-VariableFont_wght.ttf);
        }
@font-face {
            font-family: "Boldonse";
            src: url(../fontes/Boldonse/Boldonse-Regular.ttf);
        }
@font-face {
            font-family: "Nothing You Could Do";
            src: url(../fontes/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf);
        }
@font-face {
            font-family: "Karla";
            src: url(../fontes/Karla/Karla-VariableFont_wght.ttf);
        }

.titulo{
    font-size: 60px;
    margin-top: 20px;
    line-height: 100px;
}

.container01{
    padding: 40px 20px;
    display:flex;
    height: 35rem;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.225), rgb(12, 18, 20,1)), url("../imagens/backgroundIndexContainer01.jpg");
    background-size: cover;
    background-position: center
}
.container01 h1 {
    color: #C0F6FF;
}
.container01 p {
    font-size: 25px;
    font-family: "Nothing You Could Do";
    margin-top: -10px;
    margin-bottom: 30px;
}
#origem {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #C0F6FF;
    background: transparent;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}
.sobre h2 {
    color: #C0F6FF;
    font-family: "Funnel Display", sans-serif;
}
#habilidades {
    display: flex;
    flex-direction: column;
    background-color: #3C1518;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}
.homeInfoConteudo {
    list-style: none;
    background-color: #2d0f12;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: -2rem;
}
.paragrafoInfo {
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.sobre {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.container02 img {
    width: 100%;
}
.citacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: "Nothing You Could Do";
    color: #C0F6FF;
    margin: 40px;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .titulo {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 70px;
    }
    .homeInfoTitulo {
        display: flex;
        align-content: center;
    }
    .container01 {
        padding: 30px 15px;
        height: 25rem;
        background-position: center;
    }
    .container01 p {
        font-size: 20px;
    }
    .sobre {
        display: flex;
        flex-direction: column;
    }
    .citacao {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .titulo {
        font-size: 30px;
        line-height: 30px;
    }
    .homeInfoTitulo {
        display: flex;
        align-content: center;
    }
    .container01 {
        padding: 20px 10px;
        align-items: center;
        text-align: center;
        background-position: center;
        height: 25rem;
        color: white;
    }
    .container01 p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .container01 button a {
        font-size: 13px;
    }
    .sobre {
        display: flex;
        flex-direction: column;
    }
    .citacao {
        font-size: 15px;
    }
    .citacao button a {
        font-size: 13px;
    }
}