@font-face {
            font-family: "Funnel Display";
            src: url(../fontes/FunnelDisplay/FunnelDisplay-VariableFont_wght.ttf);
        }
@font-face {
            font-family: "Boldonse";
            src: url(../fontes/Boldonse/Boldonse-Regular.ttf);
        }
@font-face {
            font-family: "Nothing You Could Do";
            src: url(../fontes/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf);
        }
@font-face {
            font-family: "Karla";
            src: url(../fontes/Karla/Karla-VariableFont_wght.ttf);
        }

.cartoesTempo {
    background-color: #3C1518;
    padding: 20px;
    margin: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.cartoesTempo:hover {
    padding: 30px;
    margin: 0.5rem;
}
.acontecimentos {
    display: flex;
    flex-direction: row;
}
.itens {
    display: flex;
    flex-direction: row;
}
.cartoesCuriosidades {
    background-color: #172125;
    padding: 20px;
    margin: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartoesCuriosidades:hover {
    padding: 30px;
    margin: 0.5rem;
}
.textoCartoes {
    display: flex;
    flex-direction: column;
}
.cartoesCuriosidades img {
    height: 300px;
    margin: 20px;
    border-radius: 1000px;
}
@media (min-width: 601px) and (max-width: 1024px) {
    .acontecimentos {
        display: flex;
        flex-direction: column;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .acontecimentos {
        display: flex;
        flex-direction: column;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
    .cartoesTempo {
        margin: 20px;
        padding: 10px;
    }
    .cartoesCuriosidades {
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}