@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.filme {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
#container1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
#container2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
}
#container3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
#container4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#container5 {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #3C1518;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
button {
    background-color: black;
    color: white;
}
.header {
    background-color: #1d2a2f;
    border-radius: 10px;
}
.footer {
    border-radius: 10px;
}
#container3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#container4 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.galeriaFilmes p {
    font-size: 20px;
    font-family: "Nothing You Could Do", cursive;
}
h2 {
    color: #C0F6FF;
    text-align: center;
}
.itens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartoes {
    padding: 40px;
    margin: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.cartoes:hover {
    padding: 50px;
    margin: 0.5rem;
}
.amizade {
    background-color: #1d2a2f;
}
.romance {
    background-color: #3C1518;
}
.mentoria {
    background-color: #1d2a2f;
}
.familiar {
    background-color: #3C1518;
}

@media (min-width: 601px) and (max-width: 1024px) {
    #container5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        font-size: 15px;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    #container3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #container4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #container5 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 10rem;
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    .galeriaFilmes p {
        font-size: 15px;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
    .cartoes {
        padding: 20px;
    }
    .cartoes:hover {
        padding: 30px;
        margin: 0.5rem;
    }
}