.titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    letter-spacing: -2px;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

.container01{
    padding: 40px 20px;
    color: black;
    display:flex;
    height: 500px;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    background-image: url("../imagens/backgroundIndexContainer01.jpg");
    background-size: cover;
    background-position: center;
}

.container01 p {
    font-size: 25px;
    font-family: "Nothing You Could Do", cursive;
    margin: 10px 0;
}

.homeInfoTitulo {
    display: flex;
    align-content: left;
    flex-direction: column;
    background-color: #3C1518;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}
.homeInfoConteudo {
    list-style: none;
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: -2rem;
}
.paragrafoInfo {
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
.sobre {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.container02 img {
    width: 100%;
}
.citacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: "Nothing You Could Do", cursive;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .homeInfoTitulo {
        display: flex;
        align-content: center;
    }
    .container01 {
        padding: 30px 15px;
    }
    .sobre {
        display: flex;
        flex-direction: column;
    }
    .citacao {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .homeInfoTitulo {
        display: flex;
        align-content: center;
    }
    .container01 {
        padding: 20px 10px;
        min-height: 300px;
        align-items: center;
        text-align: center;
    }
    .sobre {
        display: flex;
        flex-direction: column;
    }
    .citacao {
        font-size: 18px;
    }
}