@font-face {
            font-family: "Funnel Display";
            src: url(../fontes/FunnelDisplay/FunnelDisplay-VariableFont_wght.ttf);
        }
@font-face {
            font-family: "Boldonse";
            src: url(../fontes/Boldonse/Boldonse-Regular.ttf);
        }
@font-face {
            font-family: "Nothing You Could Do";
            src: url(../fontes/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf);
        }
@font-face {
            font-family: "Karla";
            src: url(../fontes/Karla/Karla-VariableFont_wght.ttf);
        }

.containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.cartoesFrases {
    background-color: #3C1518;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.cartoesFrases:hover {
    padding: 10px;
    margin: 0.5rem;
}
.contacto h2 {
    color: white;
}
form {
    background: transparent;
    padding: 15px;
    margin-top: -30px;
}
form textarea {
    margin-left: 20px;
    margin-top: -10px;
}
form text {
    margin-top: -10px;
}
.efeitoOutline {
    border: 1px solid transparent;
    border-color: #C0F6FF;
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.campoForm p{
    font-family: "Funnel Display";
    color: #C0F6FF;
}
#button {
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: #69140E;
    color: white;
    font-family: "Funnel Display";
}

@media (min-width: 601px) and (max-width: 1024px) {
    .containers {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .tituloForm {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .containers {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}