@font-face {
            font-family: "Funnel Display";
            src: url(../fontes/FunnelDisplay/FunnelDisplay-VariableFont_wght.ttf);
        }
@font-face {
            font-family: "Boldonse";
            src: url(../fontes/Boldonse/Boldonse-Regular.ttf);
        }
@font-face {
            font-family: "Nothing You Could Do";
            src: url(../fontes/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf);
        }
@font-face {
            font-family: "Karla";
            src: url(../fontes/Karla/Karla-VariableFont_wght.ttf);
        }

.filme {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
#container1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #3C1518;
}
#container1 h2 {
    color: #EC1E24;
}
#container2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    background-color: #C0F6FF;
}
#container2 h2 {
    color: #1d2a2f;
}
#container3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
#container4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#container5 {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #1d2a2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header {
    background-color: #1d2a2f;
    border-radius: 10px;
}
.footer {
    border-radius: 10px;
}
#container3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#container4 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.galeriaFilmes p {
    font-size: 20px;
    font-family: "Nothing You Could Do", cursive;
}
h2 {
    color: #C0F6FF;
}
.itens {
    display: flex;
    flex-direction: row;
}
.cartoes {
    padding: 40px;
    margin: 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.cartoes:hover {
    padding: 50px;
    margin: 0.5rem;
}
.amizade {
    background-color: #1d2a2f;
}
.romance {
    background-color: #3C1518;
}
.mentoria {
    background-color: #1d2a2f;
}
.familiar {
    background-color: #3C1518;
}

@media (min-width: 601px) and (max-width: 1024px) {
    #container5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        font-size: 15px;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    #container3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #container4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #container5 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 10rem;
        display: flex;
        padding: 10px;
        justify-content: center;
        flex-direction: column;
    }
    .galeriaFilmes p {
        font-size: 15px;
    }
    .itens {
        display: flex;
        flex-direction: column;
    }
    .cartoes {
        padding: 20px;
    }
    .cartoes:hover {
        padding: 30px;
        margin: 0.5rem;
    }
}